<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link href="{{baseUrl}}styles/reset.css" rel='stylesheet' type='text/css'>
    <link href="{{baseUrl}}styles/style.css" rel='stylesheet' type='text/css'>
    <link href="{{baseUrl}}styles/darkula.css" rel="stylesheet" type="text/css">

	<title>La Veilleuse</title>
</head>


<body>

    <header class="global-header">
        <h1 class="global-header-title"><a href="{{baseUrl}}">La Veilleuse</a></h1>
        <ul class="global-header-nav" role="nav">
            <li class="global-header-nav-item">
                <a href="https://github.com/laVeilleuse/laVeilleuse">
                    <img class="global-header-nav-item-image" src="{{baseUrl}}assets/common/github.png">
                </a>
            </li>
        </ul>
    </header>


    <section class="global-main">
