<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link href="{{baseUrl}}styles/reset.css" rel='stylesheet' type='text/css'>
    <link href="{{baseUrl}}styles/style.css" rel='stylesheet' type='text/css'>
    <link href="{{baseUrl}}styles/darkula.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

	<title>La Veilleuse</title>
</head>


<body>

    <header class="global-header">
        <h1 class="global-header-title"><a href="{{baseUrl}}">La Veilleuse</a></h1>

        <div class="global-header-writers">
            <article class="writer">
                <img class="writer-picture" src="{{baseUrl}}assets/common/picture-fberthelot.gif" alt="Florent Berthelot">
                <h3 class="writer-name">Florent Berthelot</h3>
                <p class="writer-biography">Développeur et formateur JavaScript (back et front), craftsman dans l'âme.</p>
            </article>

            <article class="writer">
                <img class="writer-picture" src="{{baseUrl}}assets/common/picture-jgrenat.jpg" alt="Jordane Grenat">
                <h3 class="writer-name">
                    Jordane Grenat
                    <a href="https://twitter.com/JoGrenat" class="writer-icon-link symbol">twitterbird</a>
                </h3>
                <p class="writer-biography">Développeur d'applications web depuis plusieurs années, je suis passionné par l'écosystème JavaScript sous toutes ses formes (frameworks front, Node.js, tooling, Elm, ...)</p>
            </article>
        </div>
    </header>

    <div class="container">
