{{>header}}

    {{#if image}}
        <img class="illustration-img-article" src="{{baseUrl}}{{image}}" alt="Illustration" role="presentation" />
    {{/if}}

    <section class="global-main">

        <nav class="global-breadcrumb"><a href="/">Accueil</a> &gt; {{title}}</nav>

        <h2>{{title}}</h2>

        <main class="markdown">
        	{{{contents}}}
    	</main>

        <div class="author"><strong>{{{author}}}</strong></div>

        <div id="disqus_thread" class="comments"></div>

    	<script type="text/javascript">
    	    /*   CONFIGURATION VARIABLES   */
    	    var disqus_shortname = 'poneycase';

    	    (function() {
    	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    	    })();
    	</script>
    	<noscript>Pour voir les commentaires, activez le JavaScript (on utilise Disqus).</noscript>

    </section>

{{>footer}}
