{{> header}}

    <ul>

        {{#each pagination.files}}
        <li>
            <h2><a href="{{baseUrl}}{{this.path}}/" title="{{this.title}}">{{this.title}}</a></h2>
            {{{this.less}}}
            <time datetime="{{ dateFormat this.date }}">{{ dateFormat this.date }}</time>
        </li>
        {{/each}}

    </ul>


    <ul class="pagination">

        {{#if pagination.previous}}
            <li class="pagination-item">
                <a class="pagination-item-link" href="{{baseUrl}}{{pagination.previous.path}}">Prev</a>
            </li>
        {{else}}
            <li class="pagination-item pagination-item--inactive">
                <span>Précédente</span>
            </li>
        {{/if}}

        {{#each pagination.pages}}
            <li class="pagination-item {{classIfEquals 'pagination-item--active' ../pagination.num this.pagination.num}}">
                <a class="pagination-item-link" href="{{baseUrl}}{{this.path}}">{{this.pagination.num}}</a>
            </li>
        {{/each}}

        {{#if pagination.next}}
            <li class="pagination-item">
                <a class="pagination-item-link" href="{{baseUrl}}{{pagination.next.path}}">Next</a>
            </li>
        {{else}}
            <li class="pagination-item pagination-item--inactive">
                <span>Suivante</span>
            </li>
        {{/if}}

    </ul>

{{> footer}}
