<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link href="/styles/reset.css" rel='stylesheet' type='text/css'>
    <link href="/styles/style.css" rel='stylesheet' type='text/css'>

	<title>{{title}} - PoneyCase</title>
</head>
<body>
    <header>
        <h1><img src="/assets/common/logo.png"></h1>
        <a target="_blank" href="https://github.com/poneyCase/poney-case"><img src="/assets/common/github.png" alt="Notre GitHub"></a>
    </header>
    <section id="main">
        <h2>{{title}}</h2>
        {{{contents}}}
        <div id="disqus_thread"></div>
    </section>
    <footer>
        <a href="{{authorUrl}}">{{authorName}}</a>
        <p>{{authorBio}}</p>
    </footer>

	<script type="text/javascript">
	    /*   CONFIGURATION VARIABLES   */
	    var disqus_shortname = 'poneycase';

	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</body>
</html>
